In [24]:
import pandas as pd
import glob

# show all columns
pd.options.display.max_columns = None

## List Comprehension
- List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. 
- Faster to write than a For loop.
- Computation speed difference is fairly inconsequential

#### Ye olde way using a For Loop

In [25]:
teams = ["nuggets", "jazz", "celtics", "bucks", "warriors", "seventy-sixers"]
new_teams = []

for team in teams:
  if "e" in team:
    new_teams.append(team)

print(new_teams)

['nuggets', 'celtics', 'seventy-sixers']

#### The simpler way using List Comprehension

In [26]:
teams = ["nuggets", "jazz", "celtics", "bucks", "warriors", "seventy-sixers"]

new_teams = [team for team in teams if "e" in team]

print(new_teams)

['nuggets', 'celtics', 'seventy-sixers']

#### Other Examples

In [27]:
numbers = [1,2,3,4,5]

# multiply all numbers by 100
new_numbers = [10*(number / 2) for number in numbers if type(number)== int]

print(new_numbers)

[5.0, 10.0, 15.0, 20.0, 25.0]

In [28]:
places = ["salt lake city, ut", "ogden, ut", "chicago, il", "honolulu, hi"]

# create new list with strings that contain "ut" and capitalize them
new_places = [place.upper() for place in places if "hi" in place]

print(new_places)

['CHICAGO, IL', 'HONOLULU, HI']

In [29]:
numbers = [1, 2+8, 2, 10, 50, 5*2, 90/9, 'ten']

# check if number = 10 and return boolean
equals_ten = [number==10 for number in numbers]

print(equals_ten)

[False, True, False, True, False, True, True, False]

In [30]:
# Update column names (part 1)
se_2019 = pd.read_csv(".\\se_data\\Run_1_SE_2019.csv", index_col=";TAZID")

col_names = list(se_2019.columns)

se_2019.head(3)

,CO_TAZID,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS,CO_NAME
;TAZID,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER

In [31]:
# Update column names (part 2)
new_col_names = [name + "_2019" for name in col_names]

se_2019.columns = new_col_names

se_2019.head(3)

,CO_TAZID_2019,TOTHH_2019,HHPOP_2019,HHSIZE_2019,TOTEMP_2019,RETEMP_2019,INDEMP_2019,OTHEMP_2019,ALLEMP_2019,RETL_2019,FOOD_2019,MANU_2019,WSLE_2019,OFFI_2019,GVED_2019,HLTH_2019,OTHR_2019,FM_AGRI_2019,FM_MING_2019,FM_CONS_2019,HBJ_2019,AVGINCOME_2019,Enrol_Elem_2019,Enrol_Midl_2019,Enrol_High_2019,CO_FIPS_2019,CO_NAME_2019
;TAZID,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER

In [32]:
# a shorter way to get column names
list(se_2019)

['CO_TAZID_2019',
 'TOTHH_2019',
 'HHPOP_2019',
 'HHSIZE_2019',
 'TOTEMP_2019',
 'RETEMP_2019',
 'INDEMP_2019',
 'OTHEMP_2019',
 'ALLEMP_2019',
 'RETL_2019',
 'FOOD_2019',
 'MANU_2019',
 'WSLE_2019',
 'OFFI_2019',
 'GVED_2019',
 'HLTH_2019',
 'OTHR_2019',
 'FM_AGRI_2019',
 'FM_MING_2019',
 'FM_CONS_2019',
 'HBJ_2019',
 'AVGINCOME_2019',
 'Enrol_Elem_2019',
 'Enrol_Midl_2019',
 'Enrol_High_2019',
 'CO_FIPS_2019',
 'CO_NAME_2019']

In [33]:
# create list of dataframes from a list of paths
se_2019 = ".\\se_data\\Run_1_SE_2019.csv"
se_2020 = ".\\se_data\\Run_1_SE_2020.csv"
se_2021 = ".\\se_data\\Run_1_SE_2021.csv"

se_files = [se_2019, se_2020, se_2021]

# create a list of pandas dataframes from their paths
se_dataframes = [pd.read_csv(se_file) for se_file in se_files]

# print the rows and column count of each dataframe
[df.shape for df in se_dataframes]

[(3546, 28), (3546, 28), (3546, 28)]

## Pandas Index
- An index is a sequencing applied to an unordered table to speed up querying
- In pandas you can make the index any data type, but ideally it should be unique
- Pandas will automatically create an integer type index when reading in data, unless you specify

In [34]:
# read in se 2019 from two different REMM runs
run_1_se_2019 = pd.read_csv(".\\se_data\\Run_1_SE_2019.csv")
run_2_se_2019 = pd.read_csv(".\\se_data\\Run_2_SE_2019.csv")

run_1_se_2019.head(3)

,;TAZID,CO_TAZID,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS,CO_NAME
0,1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
1,2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER

In [35]:
# show the min and max index value
run_1_se_2019.index

RangeIndex(start=0, stop=3546, step=1)

In [36]:
# set the index to ;TAZID
run_1_se_2019.set_index(';TAZID').head(3)

,CO_TAZID,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS,CO_NAME
;TAZID,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER

In [37]:
# the index can also be created from two columns
run_1_se_2019.set_index([';TAZID', 'CO_TAZID']).head(3)

,,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High,CO_FIPS,CO_NAME
;TAZID,CO_TAZID,,,,,,,,,,,,,,,,,,,,,,,,,,
1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER

In [38]:
# resetting the index, means to pop out the current index, and use an autogenerated one
pop2019_by_county = run_1_se_2019.groupby('CO_FIPS')[['HHPOP']].sum()
pop2019_by_county

                HHPOP
CO_FIPS
3        3.029630e+04
11       3.564430e+05
35       1.158979e+06
49       6.289280e+05
57       2.498410e+05

In [39]:
pop2019_by_county.reset_index()

   CO_FIPS         HHPOP
0        3  3.029630e+04
1       11  3.564430e+05
2       35  1.158979e+06
3       49  6.289280e+05
4       57  2.498410e+05

In [40]:
# or without using reset_index()
pop2019_by_county = run_1_se_2019.groupby('CO_FIPS', as_index=False)[['HHPOP']].sum()
pop2019_by_county

   CO_FIPS         HHPOP
0        3  3.029630e+04
1       11  3.564430e+05
2       35  1.158979e+06
3       49  6.289280e+05
4       57  2.498410e+05

In [41]:
# read in data, setting the index
run_1_se_2019 = pd.read_csv(".\\se_data\\Run_1_SE_2019.csv", index_col=';TAZID')
run_1_se_2020 = pd.read_csv(".\\se_data\\Run_1_SE_2020.csv", index_col=';TAZID')

# get column names, both years have the same names
col_names = list(run_1_se_2019.columns)

# generate new names
new_col_names_2019 = [name + "_2019" for name in col_names]
new_col_names_2020 = [name + "_2020" for name in col_names]

# assign new columns
run_1_se_2019.columns = new_col_names_2019
run_1_se_2020.columns = new_col_names_2020

# join the two tables by index, now that their other columns are unique
run_1_se_2019.merge(run_1_se_2020, left_index=True, right_index=True, how='left').head(3)

,CO_TAZID_2019,TOTHH_2019,HHPOP_2019,HHSIZE_2019,TOTEMP_2019,RETEMP_2019,INDEMP_2019,OTHEMP_2019,ALLEMP_2019,RETL_2019,FOOD_2019,MANU_2019,WSLE_2019,OFFI_2019,GVED_2019,HLTH_2019,OTHR_2019,FM_AGRI_2019,FM_MING_2019,FM_CONS_2019,HBJ_2019,AVGINCOME_2019,Enrol_Elem_2019,Enrol_Midl_2019,Enrol_High_2019,CO_FIPS_2019,CO_NAME_2019,CO_TAZID_2020,TOTHH_2020,HHPOP_2020,HHSIZE_2020,TOTEMP_2020,RETEMP_2020,INDEMP_2020,OTHEMP_2020,ALLEMP_2020,RETL_2020,FOOD_2020,MANU_2020,WSLE_2020,OFFI_2020,GVED_2020,HLTH_2020,OTHR_2020,FM_AGRI_2020,FM_MING_2020,FM_CONS_2020,HBJ_2020,AVGINCOME_2020,Enrol_Elem_2020,Enrol_Midl_2020,Enrol_High_2020,CO_FIPS_2020,CO_NAME_2020
;TAZID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER,30001,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0,3,BOX ELDER
2,30002,11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0,3,BOX ELDER,30002,11.7,65.0,5.555556,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,1.6,66905.0,0.0,0.0,0.0,3,BOX ELDER
3,30003,12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0,3,BOX ELDER,30003,12.7,54.0,4.251969,0.0,0.0,0.0,0.0,2.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,1.7,51492.0,0.0,0.0,0.0,3,BOX ELDER

## Putting it all together
- We need the average of SE files of the same year, from multiple REMM runs
- Create a list of csvs using glob modu;e
- Create a list of dataframes using list comprehension
- Vertically concatenate the dataframes
- Get the average of each column

In [42]:
# create list of csvs
se_2019_files = glob.glob('.\\se_data\\Run_*_SE_2019.csv')

# create list of dataframes
se_2019_dfs = [pd.read_csv(csv, index_col=[';TAZID', 'CO_TAZID', 'CO_FIPS']) for csv in se_2019_files]

# vertically join the dataframes together
data_stack = pd.concat(se_2019_dfs)

data_stack.shape

(10638, 25)

In [43]:
# get the mean of each column
average = data_stack.groupby(data_stack.index).mean()
average.head(10)

,TOTHH,HHPOP,HHSIZE,TOTEMP,RETEMP,INDEMP,OTHEMP,ALLEMP,RETL,FOOD,MANU,WSLE,OFFI,GVED,HLTH,OTHR,FM_AGRI,FM_MING,FM_CONS,HBJ,AVGINCOME,Enrol_Elem,Enrol_Midl,Enrol_High
"(1, 30001, 3)",0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66905.0,0.0,0.0,0.0
"(2, 30002, 3)",11.6,64.0,5.517241,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,66905.0,0.0,0.0,0.0
"(3, 30003, 3)",12.5,53.2,4.256000,0.0,0.0,0.0,0.0,2.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.6,51492.0,0.0,0.0,0.0
"(4, 30004, 3)",2.9,9.8,3.379310,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,51492.0,0.0,0.0,0.0
"(5, 30005, 3)",50.1,153.6,3.065868,2.3,0.0,0.0,2.3,10.4,0.0,0.0,0.0,0.0,0.0,0.0,2.3,0.0,0.0,0.0,5.5,2.6,68948.0,0.0,0.0,0.0
"(6, 30006, 3)",3.9,12.8,3.282051,4.8,0.0,4.8,0.0,5.8,0.0,0.0,0.0,4.8,0.0,0.0,0.0,0.0,0.0,0.0,0.8,0.2,51492.0,0.0,0.0,0.0
"(7, 30007, 3)",43.3,129.0,2.979215,26.0,1.5,16.8,7.7,118.6,1.5,0.0,0.0,16.8,0.0,0.0,0.0,7.7,85.7,0.0,4.7,2.2,51492.0,0.0,0.0,0.0
"(8, 30008, 3)",41.4,138.8,3.352657,45.8,15.0,0.0,30.8,52.6,15.0,0.0,0.0,0.0,28.2,0.0,0.0,2.6,0.0,0.0,4.7,2.1,71055.0,0.0,0.0,0.0
"(9, 30009, 3)",10.6,11.8,1.113208,55.2,0.0,55.2,0.0,57.3,0.0,0.0,0.0,55.2,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.5,51492.0,0.0,0.0,0.0
"(10, 30010, 3)",16.4,56.1,3.420732,57.6,0.0,57.6,0.0,60.7,0.0,0.0,0.0,57.6,0.0,0.0,0.0,0.0,0.0,0.0,2.3,0.8,51492.0,0.0,0.0,0.0